In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
a=pd.read_csv("chd_data.csv")

In [4]:
a.head()

   age  chd
0   20    0
1   23    0
2   24    0
3   25    1
4   25    0